section#map
  a(name="contact")
  header.contact
    .contact_elem
      h3 АДРЕС
      p!="Астана, пр. Туран, 30, <br> клуб Fitness Palace"
    .contact_elem
      h3 ТЕЛЕФОНЫ
      p!="+7 (7172) 56-77-55 <br> +7 (701) 100-07-09"
    .contact_elem
      h3 ВРЕМЯ РАБОТЫ
      p!="09:00 – 21:00, без выходных"
    .contact_elem
      h3 E-MAIL
      p!="brand@celebrityspa.kz"
  .map_content
    #map_block
    .triangle
    img(src="images/map.jpg").photo
  footer
    .wrap
      .copyright
        span!="<b>«Celebrity Spa»</b> — 2016"
      .mindpro
        a(href="http://mindpro-group.com"): img(src="images/mind_logo.png")
